@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,600&family=Roboto:wght@100;300;400;500;700;900&family=Tenor+Sans&family=Ubuntu:wght@300;400;500;700&display=swap");

/* Universal selector , it has [0,0,0]  specificity*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Appling styles to the entire page */
body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
  font-family: "Nunito Sans", sans-serif;
  /* font-family: "Roboto", sans-serif;
  font-family: "Tenor Sans", sans-serif;
  font-family: "Ubuntu", sans-serif; */
  /* font-display: preload; */
}

h1.heading {
  text-align: center;
  padding: 20px;
  background-color: rgba(2, 63, 129, 0.5);
  color: #fff;
}

h1.heading {
  color: white !important; /* !important is used to override the inline style */
}

/* Styling the form container */
form {
  max-width: 700px;
  margin: 0 auto;
  padding: 20px;
  background-color: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  position: relative;
}

/* Styling the fieldset and legend */
fieldset {
  border: 2px solid #4b8ed6;
  border-radius: 5px;
  padding: 50px;
  margin-bottom: 20px;
}

legend {
  font-weight: bold;
  color: #4b8ed6;
  margin-bottom: 10px; /* Add margin to push it down */
  padding: 5px; /* Add padding for spacing */
}

/* Styling the labels and inputs */
label {
  display: block;
  margin: 5px 5px;
  font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="file"],
select,
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem; /* Adjust font size as needed */
}

/* Styling the gender labels and radio buttons */
input[type="radio"] {
  display: inline-block; /*Display radio buttons inline */
  margin-right: 5px; /* Add some spacing between them */
}

label[for="male"],
label[for="female"] {
  display: inline-block; /* Display labels inline */
  margin-right: 15px; /* Add some spacing between the labels */
  padding-top: 5px;
}

/* Styling the profile picture */
#preview1,
#preview2 {
  /* display: block; */
  margin: 10px 0 0 50px;
  width: 100px; /* Adjust the width as needed */
  height: 100px; /* Adjust the height as needed */
  border: 2px solid #607c9a; /* Add a border */
  border-radius: 50%; /* Create a circular shape */
  object-fit: cover; /* Ensure the image covers the entire container */
}

#preview1:hover,
#preview2:hover {
  opacity: 0.8;
}

.image {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Style the submit and reset buttons */

button[type="submit"],
input[type="reset"] {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

button[type="submit"]:hover,
input[type="reset"]:hover {
  background-color: #0056b3;
  opacity: 0.8;
}

.btnWrapper {
  text-align: center; /* Center-align the content */
  margin-top: 20px; /* Add top margin for spacing */
}

/* Styling the checkbox labels and checkboxes */
label[for="interest1"],
label[for="interest2"],
label[for="interest3"] {
  display: inline-block;
  margin-right: 10px;
  font-weight: normal;
}

/* Styling the select dropdowns */
select {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #469ae3;
  border-radius: 5px;
}

input::file-selector-button {
  font-weight: bold;
  color: dodgerblue;
  padding: 0.5em;
  border: thin solid grey;
  border-radius: 3px;
}

label::selection {
  background: dodgerblue;
  color: white;
}

/* :checked pseudo class */
input:checked + label {
  color: dodgerblue;
}

/* Radio element, when checked */
input[type="radio"]:checked {
  box-shadow: 0 0 0 1px dodgerblue;
}

/* Checkbox element, when checked */
input[type="checkbox"]:checked {
  box-shadow: 0 0 0 1px dodgerblue;
}

/* Option elements, when selected */
option:checked {
  box-shadow: 0 0 0 3px lime;
  color: dodgerblue;
}

@media screen and (max-width: 600px) {
  body {
    display: flex;
  }
  h1.heading {
    padding: 0px;
  }
  form {
    padding: 10px;
    /* display: flex; */
    /* flex-wrap: wrap; */
  }

  .btnWrapper {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }

  #id {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
}

@media (min-width: 900px) and (max-height: 1368px) {
  form {
    padding: 15px;
    width: 100%;
    height: 50%;
    position: relative;
  }

  .btnWrapper {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }

  .genderWrapper {
    display: flex;
    flex-direction: row;
  }

  #id {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
}

@media (min-width: 4000px) and (max-width: 2000px) {
  .container {
    width: 100%;
  }
  form {
    width: 6000px;
    height: 1000px;
  }

  .btnWrapper {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }

  #id {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
}

@media screen and (min-height: 300px) {
  .form {
    padding: 10px;
    max-width: 912px;
  }
}

/* @media  (min-width: 760px) {
  form {
    padding: 10px;
    max-width: 1200px;
    font-size: large;
  }

  .btnWrapper {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }

  #id {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
} */

@media (orientation: landscape) {
  .form {
    max-width: 915px;
  }
  .btnWrapper {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    /* font-size: x-small; */
  }

  .interesrWrapper {
    display: flex;
    flex-direction: row;
  }
}
